<div class="flex">
    <div class="m-auto">
        <mat-card class="mat-card-tab">
            <mat-card-content>
                <mat-tab-group animationDuration="500ms" class="flex back">
                    <mat-tab label="Owner/Account Details">
                        <pre></pre>

                        <mat-grid-list cols="1" rowHeight="3:1">

                            <mat-grid-tile style="margin: auto 10px; padding: auto 5px;">
                                <mat-form-field appearance="outline" class="mat-form">
                                    <mat-label class="text-color">Application Number</mat-label>
                                    <input matInput type="text" />
                                </mat-form-field>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <mat-form-field appearance="outline">
                                    <mat-label class="text-color">Job Number</mat-label>
                                    <input matInput type="text" />
                                </mat-form-field>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <mat-form-field appearance="outline">
                                    <mat-label class="text-color">Reference Number</mat-label>
                                    <input matInput type="text" />
                                </mat-form-field>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <pre></pre>
                            </mat-grid-tile>
                            <mat-divider style="background-color: #69F0AE;"></mat-divider>
                        </mat-grid-list>
                        <mat-divider style="background-color: #69F0AE;"></mat-divider>
                        <h1 class="text-align-center">Account details</h1>
                        <mat-grid-list cols="3" rowHeight="2:1">
                            <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                    <mat-label class="text-color">Account Type</mat-label>
                                    <mat-select [(ngModel)]="selectedValue" name="role">
                                        <mat-option *ngFor="let role of roles" [value]="role.value">
                                            {{role.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                    <mat-label class="text-color">Account Code</mat-label>
                                    <input matInput type="text" required />
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                    <mat-label class="text-color">Account Number</mat-label>
                                    <input matInput type="email" required />
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                    <mat-label class="text-color">Amount To Pay</mat-label>
                                    <input matInput type="email" required />
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                    <mat-label class="text-color">Account Name</mat-label>
                                    <input matInput type="email" required />
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                    <mat-label class="text-color">List of Accounts</mat-label>
                                    <mat-select [(ngModel)]="selectedValue" name="account">
                                        <mat-option *ngFor="let account of accounts" [value]="account.value">
                                            {{account.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </mat-grid-tile>
                        </mat-grid-list>
                        <mat-divider style="background-color: #69F0AE;"></mat-divider>
                        <h1 class="text-align-center">Owner details</h1>
                        <mat-grid-list cols="2" rowHeight="3:1">

                            <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                    <mat-label class="text-color">Owner Code</mat-label>
                                    <input matInput type="text" />
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                    <mat-label class="text-color" style="background-color: transparent;">Name of
                                        Carrier</mat-label>
                                    <input matInput type="text" />
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <div>
                                    <mat-form-field appearance="outline">
                                        <mat-label class="text-color">Business Address</mat-label>
                                        <input matInput type="text" />
                                    </mat-form-field>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                    <mat-label class="text-color">Telephone Number</mat-label>
                                    <input matInput type="text" />
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                    <mat-label class="text-color">Cellphone Number</mat-label>
                                    <input matInput type="text" />
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                    <mat-label class="text-color">List of Owners</mat-label>
                                    <mat-select [(ngModel)]="selectedValue" name="account">
                                        <mat-option *ngFor="let owner of owners" [value]="owner.value">
                                            {{owner.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </mat-grid-tile>
                        </mat-grid-list>

                        <pre></pre>
                        <div style="margin: auto 50px;">
                            <mat-progress-bar value="primary" mode="determinate" value="25"></mat-progress-bar>
                        </div>
                        <pre></pre>

                    </mat-tab>
                    <mat-tab label="Vehicle/Ld Details">
                        <pre></pre>

                        <mat-grid-list cols="2" rowHeight="3:1">

                            <mat-grid-tile [rowspan]="2">
                                <mat-card class="transparent-card">
                                    <section>
                                        <mat-checkbox class="example-margin">Laden</mat-checkbox>
                                        <mat-checkbox class="example-margin">Unladen</mat-checkbox>
                                        <mat-checkbox class="example-margin">Crane</mat-checkbox>
                                    </section>
                                    <section>
                                        <mat-checkbox class="example-margin ">registration / Pre-Calculated/
                                            PBS</mat-checkbox>
                                    </section>
                                </mat-card>
                            </mat-grid-tile>

                            <mat-grid-tile [rowspan]="2">
                                <mat-card class="transparent-card">
                                    <section>
                                        <mat-checkbox class="example-margin" [disabled]="false">E/C/A</mat-checkbox>
                                        <mat-checkbox class="example-margin" [disabled]="true">Container</mat-checkbox>
                                        <mat-checkbox class="example-margin" [disabled]="true">Emergency</mat-checkbox>
                                        <mat-checkbox class="example-margin" [disabled]="true">Car
                                            Carrier</mat-checkbox>
                                        <mat-checkbox class="example-margin" [disabled]="true">SC</mat-checkbox>
                                        <mat-checkbox class="example-margin" [disabled]="true">PBS</mat-checkbox>
                                    </section>
                                </mat-card>
                            </mat-grid-tile>
                            <mat-grid-tile class="tile-width" [rowspan]="2">
                                <mat-card class="transparent-card" style="margin: auto 0px; width: 300px;">
                                    <mat-card-title class="text-align-center">AV Number (5.12)</mat-card-title>
                                    <section class="text-align-center">
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-color">AV No</mat-label>
                                            <mat-select [(ngModel)]="selectedValue" name="avno">
                                                <mat-option *ngFor="let avno of avnos" [value]="avno.value">
                                                    {{avno.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </section>
                                </mat-card>
                            </mat-grid-tile>

                            <mat-grid-tile class="tile-width" [rowspan]="2">
                                <mat-card class="transparent-card" style="margin: auto 0px; width: 700px;">
                                    <mat-card-title class="text-align-center">Description of Load/Crane
                                        (Make/Model)</mat-card-title>
                                    <section class="text-align-center">
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-color">Description of Load</mat-label>
                                            <textarea matInput></textarea>
                                        </mat-form-field>
                                    </section>
                                </mat-card>
                            </mat-grid-tile>

                            <mat-grid-tile [rowspan]="4">
                                <mat-card class="transparent-card" style="margin: auto 10px;">
                                    <mat-card-title class="text-align-center">Registration
                                        Number(s)(5.12)</mat-card-title>
                                    <section class="text-align-center">

                                        <mat-form-field appearance="outline" class="transparent-card ">
                                            <mat-label class="text-color" style="background-color: transparent;">Truck
                                                Tractor</mat-label>
                                            <input matInput type="text" />
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" class="transparent-card">
                                            <mat-label class="text-color"
                                                style="background-color: transparent;">Dolly</mat-label>
                                            <input matInput type="text" />
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" class="transparent-card">
                                            <mat-label class="text-color"
                                                style="background-color: transparent;">Trailer</mat-label>
                                            <input matInput type="text" />
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" class="transparent-card">
                                            <mat-label class="text-color"
                                                style="background-color: transparent;">Other</mat-label>
                                            <input matInput type="text" />
                                        </mat-form-field>
                                    </section>

                                </mat-card>
                                <pre></pre>
                            </mat-grid-tile>

                            <mat-grid-tile [rowspan]="4">
                                <mat-card class="transparent-card" style="margin: auto 10px;">
                                    <mat-card-title class="text-align-center">Load Details</mat-card-title>
                                    <section class="text-align-center">
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-color">Length</mat-label>
                                            <input matInput type="text" />
                                        </mat-form-field>
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-color">Width</mat-label>
                                            <input matInput type="text" />
                                        </mat-form-field>
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-color">Height</mat-label>
                                            <input matInput type="text" />
                                        </mat-form-field>
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-color">Mass</mat-label>
                                            <input matInput type="text" />
                                        </mat-form-field>
                                    </section>
                                </mat-card>
                            </mat-grid-tile>

                            <mat-grid-tile [colspan]="2" [rowspan]="2">
                                <mat-card class="transparent-card" style="margin: auto 10px;">
                                    <mat-card-title class="text-align-center">Vehicle/Crane
                                        Details(5.2)</mat-card-title>
                                    <section class="text-align-center">
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-color">Total Length</mat-label>
                                            <input matInput type="text" />
                                        </mat-form-field>
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-color">Total Width</mat-label>
                                            <input matInput type="text" />
                                        </mat-form-field>
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-color">Total Height</mat-label>
                                            <input matInput type="text" />
                                        </mat-form-field>
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-color">WheelBase</mat-label>
                                            <input matInput type="text" />
                                        </mat-form-field>
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-color">WheelTrack</mat-label>
                                            <input matInput type="text" />
                                        </mat-form-field>
                                    </section>
                                </mat-card>
                            </mat-grid-tile>

                            <mat-grid-tile [colspan]="1" [rowspan]="2">
                                <mat-card class="transparent-card" style="margin: auto 10px;">
                                    <mat-card-title class="text-align-center">Stability Ratio's</mat-card-title>
                                    <section class="text-align-center">
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-color">Height</mat-label>
                                            <input matInput type="text" />
                                        </mat-form-field>
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-color">Width</mat-label>
                                            <input matInput type="text" />
                                        </mat-form-field>
                                    </section>
                                </mat-card>
                            </mat-grid-tile>

                            <mat-grid-tile [colspan]="1" [rowspan]="2">
                                <mat-card class="transparent-card" style="margin: auto 10px;">
                                    <mat-card-title class="text-align-center">Overhang</mat-card-title>
                                    <section class="text-align-center">
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-color">Front</mat-label>
                                            <input matInput type="text" />
                                        </mat-form-field>
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-color">Rear</mat-label>
                                            <input matInput type="text" />
                                        </mat-form-field>
                                    </section>
                                </mat-card>
                            </mat-grid-tile>

                            <mat-grid-tile [colspan]="2" [rowspan]="1">
                                <mat-card class="transparent-card" style="margin: auto 0px;">
                                    <mat-card-title class="text-align-center">Front Load Projection</mat-card-title>
                                    <section class="text-align-center">
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-color">Projection</mat-label>
                                            <input matInput type="text" />
                                        </mat-form-field>
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-color">Height</mat-label>
                                            <input matInput type="text" />
                                        </mat-form-field>
                                    </section>
                                </mat-card>
                            </mat-grid-tile>

                            <mat-grid-tile [colspan]="2" [rowspan]="1">
                                <mat-card class="transparent-card" style="margin: auto 0px;">
                                    <mat-card-title class="text-align-center">Rear Load Projection</mat-card-title>
                                    <section class="text-align-center">
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-color">Projection</mat-label>
                                            <input matInput type="text" />
                                        </mat-form-field>
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-color">Height</mat-label>
                                            <input matInput type="text" />
                                        </mat-form-field>
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-color">Vertical Dimension</mat-label>
                                            <input matInput type="text" />
                                        </mat-form-field>
                                    </section>
                                </mat-card>
                            </mat-grid-tile>

                            <mat-grid-tile [colspan]="2" [rowspan]="3">
                                <mat-card class="transparent-card" style="margin: auto 0px;">
                                    <section class="text-align-center">
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-color">Axle Unit</mat-label>
                                            <input matInput type="text" />
                                        </mat-form-field>
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-color">Max Unit Mass(kg)</mat-label>
                                            <input matInput type="text" />
                                        </mat-form-field>
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-color">Actual Mass(Kg)</mat-label>
                                            <input matInput type="text" />
                                        </mat-form-field>
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-color">Number of Axles</mat-label>
                                            <input matInput type="text" />
                                        </mat-form-field>
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-color">Axle Type</mat-label>
                                            <input matInput type="text" />
                                        </mat-form-field>
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-color">Tyre Pressure(kPa)</mat-label>
                                            <input matInput type="text" />
                                        </mat-form-field>
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-color">W-spacing 1(mm)</mat-label>
                                            <input matInput type="text" />
                                        </mat-form-field>
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-color">W-spacing 2(mm)</mat-label>
                                            <input matInput type="text" />
                                        </mat-form-field>
                                    </section>
                                </mat-card>
                            </mat-grid-tile>

                            <mat-grid-tile [colspan]="1" [rowspan]="1">
                                <mat-card class="transparent-card" style="margin: auto 0px;">
                                    <section class="text-align-center">
                                        <mat-checkbox class="example-margin" [disabled]="true">Use Actual Tyre
                                            Pressure</mat-checkbox>
                                        <mat-checkbox class="example-margin" [disabled]="true">Use Actual Wheel
                                            Spacings</mat-checkbox>
                                        <mat-checkbox class="example-margin" [disabled]="false">Enter Total Actual
                                            Mass</mat-checkbox>
                                    </section>
                                </mat-card>
                            </mat-grid-tile>


                            <mat-grid-tile [colspan]="1" [rowspan]="1">
                                <mat-card class="transparent-card" style="margin: auto 0px;">
                                    <section class="text-align-center">
                                        <mat-checkbox class="example-margin" [disabled]="false">Is unladen vehicle/comb
                                            abnormal(5.4)?</mat-checkbox>

                                        <mat-form-field appearance="outline">
                                            <mat-label class="text-color">Unladen Permit Number</mat-label>
                                            <input matInput type="text" />
                                        </mat-form-field>
                                    </section>
                                </mat-card>
                            </mat-grid-tile>

                        </mat-grid-list>
                        <pre></pre>
                        <div style="margin: auto 50px;">
                            <mat-progress-bar class="example-margin" mode="determinate" value="50"></mat-progress-bar>
                        </div>
                        <pre></pre>

                    </mat-tab>
                    <mat-tab label="Permit Details" labelClass="text-color">
                        <pre></pre>
                        <mat-grid-list cols="2" rowHeight="3:1">

                            <mat-grid-tile [colspan]="1" [rowspan]="2">
                                <mat-card class="transparent-card">
                                    <mat-card-title class="text-align-center">Type of Permit(6.1)</mat-card-title>
                                    <section>
                                        <mat-checkbox class="example-margin">Empty Only</mat-checkbox>
                                        <mat-radio-group [(ngModel)]="permitType">
                                            <mat-radio-button *ngFor="let type of  types" [value]="type">{{type}}</mat-radio-button>
                                        </mat-radio-group>
                                        {{permitType}}
                                    </section>
                                    
                                </mat-card>
                            </mat-grid-tile>

                            <mat-grid-tile [colspan]="1" [rowspan]="2">
                                <mat-card class="transparent-card">
                                    <section>
                                        <mat-checkbox class="example-margin" [disabled]="false">Night Travel</mat-checkbox>
                                        <mat-checkbox class="example-margin" [disabled]="true">Weekend Travel</mat-checkbox>
                                    </section>
                                </mat-card>
                            </mat-grid-tile>

                            <mat-grid-tile [colspan]="1" [rowspan]="2">
                                <mat-card class="transparent-card">
                                    <mat-card-title class="text-align-center">Route/ Area of Operation(6.2)</mat-card-title>
                                    <section>
                                    </section>
                                </mat-card>
                            </mat-grid-tile>

                            <mat-grid-tile [colspan]="1" [rowspan]="2">
                                <mat-card class="transparent-card">
                                    <mat-card-title class="text-align-center">Distance(6.3)</mat-card-title>
                                    <section>
                                    </section>
                                </mat-card>
                            </mat-grid-tile>

                            <mat-grid-tile [colspan]="1" [rowspan]="2">
                                <mat-card class="transparent-card">
                                    <mat-card-title class="text-align-center">Exemption Period (6.4)</mat-card-title>
                                    <section>
                                    </section>
                                </mat-card>
                            </mat-grid-tile>

                        </mat-grid-list>
                    </mat-tab>
                    <mat-tab label="Issue Permit">
                        <pre></pre>
                        <div style="margin: auto 50px;">
                            <mat-progress-bar value="primary" mode="determinate" value="100"></mat-progress-bar>
                        </div>
                        <mat-grid-list cols="4" rowHeight="100px">
                            <mat-grid-tile *ngFor="let tile of tilesTab4" [colspan]="tile.cols" [rowspan]="tile.rows"
                                [style.background]="tile.color">
                                {{tile.text}}
                            </mat-grid-tile>
                        </mat-grid-list>
                        <pre></pre>
                        <div style="margin: auto 50px;">
                            <mat-progress-bar value="primary" mode="determinate" value="100"
                                color="green"></mat-progress-bar>
                        </div>
                        <pre></pre>
                    </mat-tab>
                </mat-tab-group>

                <div>
                    <mat-grid-list cols="2" rowHeight="100px">
                        <mat-grid-tile>
                            <mat-card-actions class="align-left">
                                <button mat-raised-button color="accent">Previous</button>
                            </mat-card-actions>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <mat-card-actions class="align-right">
                                <button mat-raised-button color="accent"> Next </button>
                            </mat-card-actions>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>