
.mat-tab-group {
    margin-bottom: 48px;
}

.back{
    background-color: #69F0AE;
}

.mat-form{
    background-color:transparent !important;
}

.align-left{
    justify-content: flex-end;
}
.align-right{
    justify-content: flex-start;
}

.align-center{
    justify-content: center;
    display: flex;
}

.transparent-card{
    background-color: transparent !important;
    margin: auto 10px;
    justify-content: space-between;
}

.tile-width{
    width: 800px;
}