<mat-tab-group animationDuration="500ms" class="flex">
    <mat-tab label="Owner/Account Details">
        <mat-grid-list cols="4" rowHeight="100px">
            <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows"
                [style.background]="tile.color">
                {{tile.text}}
            </mat-grid-tile>
        </mat-grid-list>
    </mat-tab>
    <mat-tab label="Vehicle/Ld Details">
        <mat-grid-list cols="4" rowHeight="100px">
            <mat-grid-tile *ngFor="let tile of tilesTab2" [colspan]="tile.cols" [rowspan]="tile.rows"
                [style.background]="tile.color">
                {{tile.text}}
            </mat-grid-tile>
        </mat-grid-list>
    </mat-tab>
    <mat-tab label="Permit Details">
        <mat-grid-list cols="4" rowHeight="100px">
            <mat-grid-tile *ngFor="let tile of tilesTab3" [colspan]="tile.cols" [rowspan]="tile.rows"
                [style.background]="tile.color">
                {{tile.text}}
            </mat-grid-tile>
        </mat-grid-list>
    </mat-tab>
    <mat-tab label="Issue Permit">
        <mat-grid-list cols="4" rowHeight="100px">
            <mat-grid-tile *ngFor="let tile of tilesTab4" [colspan]="tile.cols" [rowspan]="tile.rows"
                [style.background]="tile.color">
                {{tile.text}}
            </mat-grid-tile>
        </mat-grid-list>
    </mat-tab>
</mat-tab-group>