/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.flex{
    display:flex;
    flex-direction: column;
    background-color: #B0BEC5;
}

.justify-content-between{
    justify-content: space-between;
}

.m-auto{
    margin: auto;
    margin-bottom: 100px;
}

.text-color{
    color: white;
}

.mat-card{
    margin-top: 200px;
    padding: 40px;
    width: 100%;
}

.mat-grid-tile {
    background: #B0BEC5;
  }

  .example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: auto 10px;
  }