/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.flex{
    display:flex;
    flex-direction: column;
    background-color: #BFF0D8;
}

.justify-content-between{
    justify-content: space-between;
}

.m-auto{
    margin: auto;
    margin-bottom: 100px;
}

.text-color{
    color: white;
}
 .mat-card{
    margin-top: 200px;
    padding: 40px;
    width: 100%;
    background-color: #69F0AE !important;
}

.mat-grid-tile {
    /* background: #69F0AE; */
  }

  .example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: auto 10px;
  }

  .mat-card-tab{
    margin-top: 50px;
    padding: 10px;
    width: 100%;
    background-color: #69F0AE !important;
}
.text-align-center{
  text-align: center;
}

.text-color{
  color: #ffffff;
}
